<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="watch_assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <watch_assistant.Properties.Settings>
            <setting name="DefaultAppFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAppDataFileName" serializeAs="String">
                <value>userdb.appdata</value>
            </setting>
            <setting name="DefaultDictionaryPath" serializeAs="String">
                <value>thesaurus.dic</value>
            </setting>
        </watch_assistant.Properties.Settings>
    </userSettings>
</configuration>